source [find interface/stlink-dap.cfg]
transport select dapdirect_swd

adapter speed 100

# Override the target config manually w/o CPUTAPID check
swj_newdap stm32f4x cpu -irlen 4 -ircapture 0x1 -irmask 0xf
dap create stm32f4x.dap -chain-position stm32f4x.cpu
target create stm32f4x.cpu cortex_m -endian little -dap stm32f4x.dap

# Use software reset since NRST not connected
cortex_m reset_config sysresetreq

# Don't let the init sequence try examine automatically
stm32f4x.cpu configure -event examine-end {
}

stm32f4x.cpu configure -event gdb-attach {
    echo "GDB attached"
}
