source [find interface/stlink-dap.cfg]
transport select dapdirect_swd

adapter speed 100

# Create DAP and target manually
swj_newdap stm32f4x cpu -irlen 4 -ircapture 0x1 -irmask 0xf
dap create stm32f4x.dap -chain-position stm32f4x.cpu
target create stm32f4x.cpu cortex_m -endian little -dap stm32f4x.dap

# Try to enable sysresetreq
stm32f4x.cpu configure -event examine-end {
    mmw 0xE0042004 0x00000007 0
    mmw 0xE0042008 0x00001800 0
}

reset_config trst_only
